<nav class="navbar position-absolute vw-100 row m-0 pointer-events-none">
  <div class="col pointer-events-auto">
    <img src="assets/images/logo-sample.PNG" class="logo" alt=""/>
  </div>
  <div class="col vertical-align pointer-events-auto">Линк 1</div>
  <div class="col vertical-align pointer-events-auto">Page2 link</div>
  <div class="col vertical-align pointer-events-auto">Page3 link</div>
  <div class="col vertical-align pointer-events-auto">Menu link</div>
  <div class="col vertical-align pointer-events-auto">Menu link</div>
  <div class="col-4"></div>
</nav>
