<nav class="navbar position-absolute vw-100 row m-0 pointer-events-none">
  <div class="col">
    <a class="pointer-events-auto" routerLink="">
      <img src="assets/images/logo-sample.PNG" class="logo" alt=""/>
    </a>
  </div>
  <div class="col vertical-align">
    <a class="pointer-events-auto" routerLink="services">
      Услуги
    </a>
  </div>
  <div class="col vertical-align">
    <a class="pointer-events-auto" routerLink="machines">
      Машини
    </a>
  </div>
  <div class="col vertical-align">
    <a class="pointer-events-auto" routerLink="history">
      История
    </a>
  </div>
  <div class="col vertical-align pointer-events-auto">Галерия</div>
  <!--  с подменюта, които тя си е направила, по дефолт ще има няколко с години-->
  <div class="col-5"></div>
</nav>
