<mat-card>
  <h1>Услуги</h1>
  <div *ngFor="let service of this.services">
    <span>{{service.name}}: </span>
    <span>{{service.fromAmount}} лв.</span>
    <span *ngIf="!!service.toAmount"> - {{service.toAmount}} лв.</span>
    <button *ngIf="!creatingOrEditingService" mat-button (click)="editOrAddNew(service)">Редактирай</button>
    <button *ngIf="!creatingOrEditingService" mat-button (click)="openDeleteModal(service)">Изтрий</button>
  </div>
</mat-card>

<mat-card class="spacer">
  <form *ngIf="creatingOrEditingService" [formGroup]="serviceFormGroup" class="vertical-align" autocomplete="off"
        (ngSubmit)="saveService()">
    <input autocomplete="false" name="hidden" type="text" class="d-none">
    <mat-form-field class="column" appearance="outline">
      <mat-label>Име</mat-label>
      <input matInput formControlName="name" type="text" autocomplete="off">
      <mat-error *ngIf="serviceFormGroup.controls['name'].hasError('required')">
        Името е задължително.
      </mat-error>
      <mat-error *ngIf="serviceFormGroup.controls['name'].hasError('maxlength')">
        Максималната дължина е 30 символа.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column" appearance="outline">
      <mat-label>Минимална цена</mat-label>
      <input matInput formControlName="fromAmount" type="number" autocomplete="off">
      <mat-error *ngIf="serviceFormGroup.controls['fromAmount'].hasError('required')">
        Минималната цена е задължителна.
      </mat-error>
      <mat-error *ngIf="serviceFormGroup.controls['fromAmount'].hasError('min')">
        Минималната цена не може да бъде под 0лв.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="column" appearance="outline">
      <mat-label>Максимална цена</mat-label>
      <input matInput formControlName="toAmount" type="number" autocomplete="off">
      <mat-error *ngIf="serviceFormGroup.controls['toAmount'].hasError('min')">
        Максималната цена не може да бъде под 0лв.
      </mat-error>
    </mat-form-field>
    <button mat-button class="column" type="submit" [disabled]="savingNewService">Запази</button>
    <button mat-button class="column" type="button" (click)="cancel()" [disabled]="savingNewService">Отказ</button>
  </form>
  <button *ngIf="!creatingOrEditingService" mat-button class="spacer" (click)="editOrAddNew()">Добави нова</button>
</mat-card>
