<h1>Услуги</h1>
<a href="facebook.com">кор</a>

<button (click)="addNew()">Добави нова</button>
<!--<div *ngIf="addingService">-->
<!--  <mat-form-field class="full-width">-->
<!--    <input matInput-->
<!--           [formControl]="dialogInput"-->
<!--           type="text"-->
<!--           [placeholder]="data.inputPlaceholder"-->
<!--           autocomplete="off">-->
<!--    <mat-error *ngIf="dialogInput.hasError('genericError')">{{dialogInput.getError('genericError')}}</mat-error>-->
<!--  </mat-form-field>-->
<!--</div>-->

