<div class="post">
  <div class="container-xl">
    <div class="row" [ngClass]="{'flex-row-reverse' : pictureOnRight}">
      <div class="col-6 big-spacer big-spacer-bottom">
        <img #img src="assets/images/picture1.jpg" alt="" class="image"
             [ngClass]="{'start-left-hidden' : !pictureOnRight, 'start-right-hidden' : pictureOnRight}"/>
      </div>
      <div class="col-6 big-spacer big-spacer-bottom vertical-align">
        <p #text [ngClass]="{'start-left-hidden' : pictureOnRight, 'start-right-hidden' : !pictureOnRight}">
          Лорем ипсум долор сит амет, амет рецусабо ест ут, ат яуо одио дицам молестие, ферри цаусае видиссе ин мел.
          Солеат детерруиссет дуо ат, но иус вери фалли, аутем волуптатум вим ид. Еум чоро игнота фацилис ин. Нам
          алияуип
          фиерент репримияуе ад, ид вениам фуиссет вим. Перципит форенсибус интеллегебат вих ет. Цум ад виртуте волумус,
          еи меа мунди утамур посидониум.
        </p>
      </div>
      <!--  //option to decide pictire is left or right-->
      <!--  //animation for picture and text-->
      <!--  //picture and text come from upper component-->
      <!--  //background color parameter-->
    </div>
  </div>
</div>
