<div class="post" [ngStyle]="{'background-color': postData.backgroundColor}">
  <div class="container-xl">
    <div class="row" [ngClass]="{'flex-row-reverse' : pictureOnRight}">
      <div class="col-6 big-spacer big-spacer-bottom vertical-align">
        <img [src]="postData.imgSrc" alt="" class="image"
             [ngClass]="{
         'start-left-hidden' : !pictureOnRight,
         'start-right-hidden' : pictureOnRight,
         'fade-in' : animationTriggered
         }"/>
      </div>
      <div class="col-6 big-spacer big-spacer-bottom vertical-align">
        <p [ngStyle]="{'color' : postData.textColor}" [ngClass]="{
         'start-left-hidden pr-5' : pictureOnRight,
         'start-right-hidden pl-5' : !pictureOnRight,
         'fade-in' : animationTriggered
         }">
          {{postData.text}}
        </p>
      </div>
    </div>
  </div>
</div>
