/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.centered-text {
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.auto-margin {
  margin: 0 auto;
}

.full-width {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}
