/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "theme";
@import "variables";
@import "~bootstrap-4-grid/scss/grid";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

scrollbar-y {
  z-index: $z-index-main-scrollbar;
}

.centered-text {
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.auto-margin {
  margin: 0 auto;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

.spacer {
  margin-top: 20px;
}

// Theme Init
.theme-primary {
  @include angular-material-theme($theme);
}

.theme-alternate {
  @include angular-material-color($altTheme);
}
