/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "theme";
@import "variables";
@import "~bootstrap-4-grid/scss/grid";

@font-face {
  font-family: Custom;
  src: url(/assets/fonts/custom.ttf) format("opentype");
}

html, body {
  height: 100%;
  font-family: Custom, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
}

scrollbar-y {
  z-index: $z-index-main-scrollbar;
}

.centered-text {
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.auto-margin {
  margin: 0 auto;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

.spacer {
  margin-top: 20px;
}

.big-spacer {
  margin-top: 10vh;
}

.big-spacer-bottom {
  margin-bottom: 10vh;
}

.opacity-0 {
  opacity: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

// Theme Init
.theme-primary {
  @include angular-material-theme($theme);
}

.theme-alternate {
  @include angular-material-color($altTheme);
}
