.main-page {
  height: 300vh; //TODO remove
  $transform-skew: 15deg;
  background-color: saddlebrown;

  .main-first-page, .moving-paper {
    top: 20vh;
    left: 10vw;
    height: 70vh;
  }

  .moving-paper {
    width: 100vw;
    background-color: white;
    transform: skewX(-$transform-skew);
    overflow: hidden;

    .moving-paper-inside {
      transform: skewX($transform-skew);
    }

    -webkit-box-shadow: -6px 7px 25px 4px rgba(0,0,0,0.79);
    box-shadow: -6px 7px 25px 4px rgba(0,0,0,0.79);
  }

  .logo {
    max-height: 50vh;
  }
}
