.main-page {
  $transform-skew: 15deg;
  background-color: black;

  $space-above-logo: 20vh;
  $space-left-of-logo: 10vw;
  $paper-height: 70vh;

  padding-top: $space-above-logo;

  .main-first-page {
    margin-left: $space-left-of-logo;
    height: $paper-height;
  }

  .moving-paper {
    top: $space-above-logo;
    left: $space-left-of-logo;
    height: $paper-height;
    width: 100vw;
    background-color: white;
    transform: skewX(-$transform-skew);
    overflow: hidden;

    .moving-paper-inside {
      transform: skewX($transform-skew);
    }

    //-webkit-box-shadow: -6px 7px 25px 4px rgba(0,0,0,0.79);
    //box-shadow: -6px 7px 25px 4px rgba(0,0,0,0.79);
  }

  .logo {
    max-height: 50vh;
    max-width: 80vw;
  }
}
