<generic-posts [posts]="posts" [viewRangePixels]="viewRangePixels">
  <div class="main-first-page big-padding-bottom position-relative d-flex">
    <img class="logo mt-auto mb-auto" src="assets/images/logo-sample.PNG" alt=""/>
  </div>
  <div #mainPageMovingPaper class="moving-paper position-absolute d-flex">
    <img #mainPageMovingPaperInside class="moving-paper-inside logo mt-auto mb-auto"
         src="assets/images/logo-sample-alt.PNG" alt=""/>
  </div>
</generic-posts>
<app-footer></app-footer>
