<div class="footer">
  <div class="d-flex justify-content-center big-padding-top big-padding-bottom">
    <iframe class="google-map" allowfullscreen="" loading="eager"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2963.662136250821!2d23.988095415445798!3d42.02897987921049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab65cf4f70b265%3A0xd1dec6a82515a904!2zdWwuICJMaWxqYW5hIERpbWl0cm92YSIgMywgNDYwMCDQutCyLiDQm9GK0LTQttC10L3QtSwgVmVsaW5ncmFk!5e0!3m2!1sen!2sbg!4v1636633219897!5m2!1sen!2sbg">
    </iframe>
  </div>
  <div class="row justify-content-center">
    <div class="col-1 d-flex justify-content-center big-padding-bottom">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100004406372177">
        <fa-icon [icon]="linkedinIcon" size="2x"></fa-icon>
      </a>
    </div>
    <div class="col-1 d-flex justify-content-center big-padding-bottom">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100004406372177">
        <fa-icon [icon]="twitterIcon" size="2x"></fa-icon>
      </a>
    </div>
    <div class="col-1 d-flex justify-content-center big-padding-bottom">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100004406372177">
        <fa-icon [icon]="facebookIcon" size="2x"></fa-icon>
      </a>
    </div>
    <div class="col-1 d-flex justify-content-center big-padding-bottom">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100004406372177">
        <fa-icon [icon]="mediumIcon" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
