<div class="footer row justify-content-center">
  <div class="col-1 d-flex justify-content-center">
    <a target="_blank" href="https://www.facebook.com/DeMoNk1LLeR/">
      <fa-icon [icon]="linkedinIcon" size="2x"></fa-icon>
    </a>
  </div>
  <div class="col-1 d-flex justify-content-center">
    <a target="_blank" href="https://www.facebook.com/DeMoNk1LLeR/">
      <fa-icon [icon]="twitterIcon" size="2x"></fa-icon>
    </a>
  </div>
  <div class="col-1 d-flex justify-content-center">
    <a target="_blank" href="https://www.facebook.com/DeMoNk1LLeR/">
      <fa-icon [icon]="facebookIcon" size="2x"></fa-icon>
    </a>
  </div>
  <div class="col-1 d-flex justify-content-center">
    <a target="_blank" href="https://www.facebook.com/DeMoNk1LLeR/">
      <fa-icon [icon]="mediumIcon" size="2x"></fa-icon>
    </a>
  </div>
</div>
